.card {
  background-color: rgb(255, 255, 255);
  border-radius: 18px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 860px;
  height: 380px;
  margin: 0 auto;
  display: flex;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}
