.myMain {
  position: fixed;
  top: 20%;
  left: 0;
  background-color: rgb(255, 252, 247);
  width: 100%;
  height: 76%;
  padding: 30px 100px;
  overflow-y: auto;
}

.mainCard {
  /* background-color: aqua; */
  margin: 48px auto 82px auto;
  display: block;
}

.mobileImgBg {
  display: none;
}

.imgBg {
  width: 50%;
  background-color: rgb(247, 218, 223);
  position: relative;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.2);
}

.imgBg img {
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 15%;
}

.cardSelfIntro {
  width: 50%;
  padding: 1.2rem;
}

.cardSelfIntro h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0;
}

.cardSelfIntro li {
  margin: 0.6rem 0;
  line-height: 1.5rem;
}

.checkIcon {
  color: #a87550;
}

@media (max-width: 768px) {
  .myMain {
    position: fixed;
    top: 8%;
    left: 0;
    background-color: rgb(255, 252, 247);
    width: 100%;
    height: 88%;
    padding: 40px;
    overflow-y: auto;
  }

  .mainCard {
    /* background-color: aqua; */
    margin: 10px;
    display: block;
  }
  .mobileImgBg {
    display: block;
    width: 100%;
    object-fit: cover;
    text-align: center;
  }
  .mobileImgBg img {
    width: 80%;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .imgBg {
    display: none;
  }

  .cardSelfIntro {
    width: 100%;
    padding: 1.2rem;
  }

  .cardSelfIntro h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0;
  }

  .cardSelfIntro li {
    margin: 0.6rem 0;
    line-height: 1.5rem;
  }
}
